

<style>

.navbar-brand {
  color: aliceblue;


}












</style>
 




















<nav class="navbar" style="background-image:url(https://i.ytimg.com/vi/ktLrWrvKZuM/maxresdefault.jpg)">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">ComicZone</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Principal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="consultas">Consultas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="formulario">Formulario</a>
              </li>
            </ul>
          </div>
        </div>
  </nav>

