<style>

     body {
        background-image: url(https://i.pinimg.com/originals/bb/ae/d2/bbaed212117a2205c061fd95ab443876.jpg);
        background-repeat: no-repeat;
    }
    .lead{
        color: aliceblue;
        text-align: center;
        text-align: justify;
        background-color: brown;
    }
    text-muted{
    text-align: center;
    text-align: justify;
    }
    
    
    texto-imagen{
        text-align:left;
        text-align: justify;
        color: aliceblue;
        background-color: brown;
    }
    
    
    footer{
         background-image:url();
    }
    
    nav{
        background-image: url();
    }
    
    </style>

    <div class="row">
      <form action="./contacto" method="post">
          <div class="mb-3 row">
              <label for="nombre" class="col-sm-2 col-form-label">Nombre: </label>
          <div class="col-sm-10">
              <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre">
          </div>
          </div>
          <div class="mb-3 row">
              <label for="email" class="col-sm-2 col-form-label">Email: </label>
          <div class="col-sm-10">
              <input type="email" class="form-control" name="email" id="email" placeholder="ejemplo@gmail.com">
          </div>
          </div>
          <div class="mb-3 text-center">
              <input type="submit" class="button btn btn-success w-50 p-2" value="Enviar">
          </div>
      
      </form>
      
      </div>
      
      <div class="row featurette">
            <div class="col-md-7 order-md-2">
              
              <p class="lead">Contacta con nosotros para que te dejemos nuestros productos.</p>
            </div>
            <div class="foto-responsive">
              <img src="cualquierfoto"  alt=" " width="100%">
            </div>
          </div>
      </div>